/*------------------------------------*\
    #WRAPPER
\*------------------------------------*/

$wrapper-width:     62.5em !default;
$wrapper-gutter:    $inuit-base-spacing-unit !default;





/**
 * Wrapper
 */
.o-wrapper {
    max-width: $wrapper-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $wrapper-gutter;
    padding-right: $wrapper-gutter;
}
